

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<div class="ul twitter-button">
  <a  data-method="post" href="/users/auth/twitter" style="text-decoration: none; color: white;">
    <i class="fab fa-twitter"></i>
    Twitter でログイン
  </a>
</div>
<br>
<div class="ul google-button">
  <a data-method="post" href="/users/auth/google_oauth2" style="text-decoration: none; color: white;">
    <i class="fab fa-google"></i>
    Google でログイン
  </a>
</div>
<br>
<div class="ul facebook-button">
  <a data-method="post" href="/users/auth/facebook" style="text-decoration: none; color: white;">
    <i class="fab fa-facebook"></i>
    Facebook でログイン
  </a>
</div>




