<div class="container">
  <div class="row">
    <table class="table col-lg-8">
      <thead>
        <tr>
          <th>メールアドレス</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %></td>
          <td></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>