<section class="user-whole border">
  <div class="container" style="mx-auto">
    <div class="row">
      <div class="col-lg-4">
          <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg", class: "mt-3 ml-5 rounded-circle"; %>
          <div class="ml-5 mt-5" style="display: block;">
            <%= link_to '編集する', edit_user_path(current_user.id), class: "btn btn-primary" %>
          </div>
      </div>
      <div class="col-lg-8 text-left" style="padding-left: 100px;">
        <h6>
          <%= @user.name %>
        </h6>
        <h6>
          <%= @user.email %>
        </h6>
        <a class="btn btn-primary" href="/events">
          カレンダーへ
        </a>
      </div>
    </div>
  </div>
</section>

