<div class="jumbotron jumbotron-img jumbotron-fluid">
    <div class="container text-center">
        <h1 class="display-4 title">Exercise Suggestion</h1>
        <p class="lead">
            運動動画を選択してあなただけの運動メニューを作成しよう!
        </p>
        <p class="lead-btn">
            <%= link_to 'はじめる', new_user_registration_path, method: :get, class: "btn btn-success" %>
        </p>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex flex-wrap justify-content-center" style="margin-bottom: 50px;">
        <div class="p-2 border bg-white" style="height: 100px; width: 800px; margin-top: 50px;">
          <h3 class="d-inline">Step 1</h3>
          <p class="mt-1 mb-1">
            まずはユーザー登録をしましょう！twitterやgoogleのアカウントを使用して登録も行えます！
            一度登録すればtwitterでログイン、googleでログインを押せば簡単にログインできます！
          </p>
        </div>
        <div class="p-2 border bg-white" style="height: 100px; width: 800px; margin-top: 50px;">
          <h3 class="d-inline">Step2</h3>
          <p class="mt-1 mb-1">
            運動動画一覧であなたがしたい運動を選択して登録！運動メニューを作成しよう！
          </p>
        </div>
        <div class="p-2 border bg-white" style="height: 100px; width: 800px; margin-top: 50px;">
          <h3 class="d-inline">Step3</h3>
          <p class="mt-1 mb-1">
            運動メニューがランキングで一覧表示されます！良いと思ったユーザーの運動メニューに良いねやコメントをしましょう！
          </p>
        </div>
        <div class="p-2 border bg-white" style ="height: 100px; width: 800px; margin-top: 50px;">
          <h3 class="d-inline">Step4</h3>
          <p class="mt-1 mb-1">
            マイページからカレンダーへ、運動のスケジュールを立てましょう！
          </p>
        </div>
      </div>
    </div>
  </div>
</div>